<link href="/people/people.style.css" rel="stylesheet">

<h1>MANAGE PEOPLE</h1>
<div class="createPerson">
    <div class="fname">
        <label>First Name: </label><input type="text" ng-model="vm.person.FirstName" id="fNameId">
    </div>
    <div class="lname">
        <label>Last Name: </label><input type="text" ng-model="vm.person.LastName">
    </div>
    <div class="ci">
        <label>CI: </label><input type="text" ng-model="vm.person.CI">
    </div>
    <div class="save">
        <input type="submit" ng-click="vm.savePerson()" value="Create">
    </div>
</div>

<div class="peopleList">
    <div class="peopleHeader">
        <div>ID</div>
        <div>FIRST NAME</div>
        <div>LAST NAME</div>
        <div>CI</div>
    </div>
    <div class="peopleRow" ng-repeat="person in vm.people">
        <div>{{ person._id }}</div>
        <div>{{ person.attributes.FirstName }}</div>
        <div>{{ person.attributes.LastName }}</div>
        <div>{{ person.attributes.CI }}</div>
    </div>
</div>