<link href="/schedules/schedule.style.css" rel="stylesheet">
<link href="../../bower_components/angular-moment-picker/dist/angular-moment-picker.min.css" rel="stylesheet">

<h1>MANAGE SCHEDULES</h1>
<div class="createSchedule">
    <div class="roomid">
        <label>Room: </label>
        <select data-ng-options="room.attributes.RoomName for room in vm.rooms" data-ng-model="vm.selectedRoom"></select>
    </div>
    <div class="teamid">
        <label>Team: </label>
        <select data-ng-options="team.attributes.TeamName for team in vm.teams" data-ng-model="vm.selectedTeam"></select>
    </div>
    <div class="startingdatetime">
        <label>Starting Date Time: </label>
        <input class="form-control"
               ng-model="vm.schedule.StartingDateTime"
               placeholder="Select a date..."
               min-date="vm.minDateTime"
               max-date="vm.schedule.EndingDateTime"
               moment-picker="vm.schedule.StartingDateTime">
    </div>
    <div class="endingdatetime">
        <label>Ending Date Time: </label>
        <input class="form-control"
               ng-model="vm.schedule.EndingDateTime"
               placeholder="Select a date..."
               min-date="vm.schedule.StartingDateTime ? vm.schedule.StartingDateTime : vm.minDateTime"
               moment-picker="vm.schedule.EndingDateTime">
    </div>
    <div class="save">
        <input type="submit" ng-click="vm.saveSchedule()" value="Create">
    </div>
</div>

<div class="schedulesList">
    <div class="schedulesHeader">
        <div>ID</div>
        <div>ROOM ID</div>
        <div>TEAM ID</div>
        <div>STARTING DATE TIME</div>
        <div>ENDING DATE TIME</div>
    </div>
    <div class="schedulesRow" ng-repeat="schedule in vm.schedules">
        <div>{{ schedule._id }}</div>
        <div>{{ schedule.attributes.RoomId }}</div>
        <div>{{ schedule.attributes.TeamId }}</div>
        <div>{{ schedule.attributes.StartingDateTime }}</div>
        <div>{{ schedule.attributes.EndingDateTime }}</div>
    </div>
</div>