<link href="/teams/team.style.css" rel="stylesheet">

<h1>MANAGE TEAMS</h1>
<div class="createTeam">
    <div class="tname">
        <label>Team Name: </label><input type="text" ng-model="vm.team.TeamName" id="tNameId">
    </div>
    <div class="tlevel">
        <label>Team Level: </label><input type="text" ng-model="vm.team.TeamLevel">
    </div>
    <div class="save">
        <input type="submit" ng-click="vm.saveTeam()" value="Create">
    </div>
</div>

<div class="teamsList">
    <div class="teamsHeader">
        <div>ID</div>
        <div>TEAM NAME</div>
        <div>TEAM LEVEL</div>
    </div>
    <div class="teamsRow" ng-repeat="team in vm.teams">
        <div>{{ team._id }}</div>
        <div>{{ team.attributes.TeamName }}</div>
        <div>{{ team.attributes.TeamLevel }}</div>
    </div>
</div>