.createTeam {
    border: 2px solid;
    margin: 10px 2px 2px;
    padding: 2px;
}

.teamsList {
    border: 2px solid;
    margin: 2px;
    padding: 2px;
    display: table;
}

.teamsHeader {
    display: table-row;
    font-weight: bold;
}

.teamsHeader div {
    display: table-cell;
    padding: 0 10px;
    border-bottom: 2px solid;
}

.teamsRow {
    display: table-row;
}

.teamsRow div {
    display: table-cell;
    padding: 0 10px;
}